/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* line 1, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
.contenedor_idiomas {
  background: blue;
}

/* line 5, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas {
  float: right;
  padding: 0 15px 10px 10px;
  margin: -7px 0px -5px 10px;
  background-color: #fff;
}

/* line 12, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas li {
  float: left;
  list-style: none outside none;
  margin: 0 0 0 5px;
  padding: 11px 0 0 0;
  width: 20px;
}

/* line 20, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas li a {
  display: block;
  width: 20px;
  height: 14px;
  outline: 1px solid #555;
  margin: 0;
}

/* line 28, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .es {
  background: url("/assets/idiomas.png") 0 0 no-repeat;
}

/* line 32, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .en, ul.idiomas .uk {
  background: url("/assets/idiomas.png") -20px 0;
}

/* line 36, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ru {
  background: url("/assets/idiomas.png") -40px 0;
}

/* line 40, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .sv {
  background: url("/assets/idiomas.png") -60px 0;
}

/* line 44, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .no {
  background: url("/assets/idiomas.png") -80px 0;
}

/* line 48, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .de {
  background: url("/assets/idiomas.png") -100px 0;
}

/* line 52, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .fr {
  background: url("/assets/idiomas.png") -120px 0;
}

/* line 56, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ne {
  background: url("/assets/idiomas.png") -140px 0;
}

/* line 60, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ch {
  background: url("/assets/idiomas.png") -160px 0;
}

/* line 64, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .fi {
  background: url("/assets/idiomas.png") -180px 0;
}

/* line 68, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .eu {
  background: url("/assets/idiomas.png") -200px 0;
}

/* line 72, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .pt {
  background: url("/assets/idiomas.png") -220px 0;
}

/* line 76, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ar {
  background: url("/assets/idiomas.png") -240px 0;
  /*  background: url('/images/arab_league_mini.png');
  background: url('/images/egypt_flag.png');
*/
}

/* line 83, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ca {
  background: url("/assets/idiomas.png") -260px 0;
}

/* line 87, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .br {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/br.svg") no-repeat;
  background-size: cover;
}

/* line 92, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .cl {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/cl.svg") no-repeat;
  background-size: cover;
}

/* line 98, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .mx {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/mx.svg") no-repeat;
  background-size: cover;
}

/* line 103, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .us {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/us.svg") no-repeat;
  background-size: cover;
}

/* line 108, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .vi {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/vn.svg") no-repeat;
  background-size: cover;
}

/* line 113, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .tr {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/tr.svg") no-repeat;
  background-size: cover;
}

/* line 118, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .hi {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/hi.svg") no-repeat;
  background-size: cover;
}

/* line 123, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .it {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/it.svg") no-repeat;
  background-size: cover;
}

/* line 128, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas li.selected,
ul.idiomas li:hover {
  background: url("/assets/simple-nav-arrow.png") no-repeat top center;
}

/*@import '../../src/core/stylesheets/variables.scss';*/
