@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* line 1, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
.contenedor_idiomas {
  background: blue;
}

/* line 5, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas {
  float: right;
  padding: 0 15px 10px 10px;
  margin: -7px 0px -5px 10px;
  background-color: #fff;
}

/* line 12, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas li {
  float: left;
  list-style: none outside none;
  margin: 0 0 0 5px;
  padding: 11px 0 0 0;
  width: 20px;
}

/* line 20, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas li a {
  display: block;
  width: 20px;
  height: 14px;
  outline: 1px solid #555;
  margin: 0;
}

/* line 28, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .es {
  background: url("/assets/idiomas.png") 0 0 no-repeat;
}

/* line 32, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .en, ul.idiomas .uk {
  background: url("/assets/idiomas.png") -20px 0;
}

/* line 36, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ru {
  background: url("/assets/idiomas.png") -40px 0;
}

/* line 40, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .sv {
  background: url("/assets/idiomas.png") -60px 0;
}

/* line 44, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .no {
  background: url("/assets/idiomas.png") -80px 0;
}

/* line 48, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .de {
  background: url("/assets/idiomas.png") -100px 0;
}

/* line 52, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .fr {
  background: url("/assets/idiomas.png") -120px 0;
}

/* line 56, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ne {
  background: url("/assets/idiomas.png") -140px 0;
}

/* line 60, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ch {
  background: url("/assets/idiomas.png") -160px 0;
}

/* line 64, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .fi {
  background: url("/assets/idiomas.png") -180px 0;
}

/* line 68, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .eu {
  background: url("/assets/idiomas.png") -200px 0;
}

/* line 72, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .pt {
  background: url("/assets/idiomas.png") -220px 0;
}

/* line 76, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ar {
  background: url("/assets/idiomas.png") -240px 0;
  /*  background: url('/images/arab_league_mini.png');
  background: url('/images/egypt_flag.png');
*/
}

/* line 83, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ca {
  background: url("/assets/idiomas.png") -260px 0;
}

/* line 87, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .br {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/br.svg") no-repeat;
  background-size: cover;
}

/* line 92, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .cl {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/cl.svg") no-repeat;
  background-size: cover;
}

/* line 98, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .mx {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/mx.svg") no-repeat;
  background-size: cover;
}

/* line 103, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .us {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/us.svg") no-repeat;
  background-size: cover;
}

/* line 108, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .vi {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/vn.svg") no-repeat;
  background-size: cover;
}

/* line 113, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .tr {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/tr.svg") no-repeat;
  background-size: cover;
}

/* line 118, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .hi {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/hi.svg") no-repeat;
  background-size: cover;
}

/* line 123, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .it {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/it.svg") no-repeat;
  background-size: cover;
}

/* line 128, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas li.selected,
ul.idiomas li:hover {
  background: url("/assets/simple-nav-arrow.png") no-repeat top center;
}

/* Slider */
/* line 2, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 23, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 33, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-list:focus {
  outline: none;
}

/* line 37, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 43, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 53, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

/* line 61, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

/* line 68, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-track:after {
  clear: both;
}

/* line 72, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 77, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

/* line 85, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 89, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-slide img {
  display: block;
}

/* line 93, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}

/* line 97, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 101, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}

/* line 105, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 109, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 117, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/*=============================================================================*/
/* Slider */
/* line 124, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-loading .slick-list {
  background: #fff url("/assets/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
   /* font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');*/
}
/* Arrows */
/* line 140, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 9;
}

/* line 163, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  /* color: #000;
   outline: none;
   background: transparent;*/
}

/* line 172, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

/* line 179, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .6;
  /*opacity: 1;*/
}

/* line 186, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-prev:before,
.slick-next:before {
  font-family: 'fontAwesome';
  font-size: 20px;
  line-height: 1;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 200, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-prev {
  left: 0;
}

/* line 204, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

/* line 209, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-prev:before {
  content: '\f104';
}

/* line 213, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
[dir='rtl'] .slick-prev:before {
  content: '\f104';
}

/* line 218, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-next {
  right: 0;
}

/* line 222, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

/* line 227, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-next:before {
  content: '\f105';
}

/* line 231, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
[dir='rtl'] .slick-next:before {
  content: '\f105';
}

/* Dots */
/* line 237, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-slider {
  /*margin-bottom: 30px;*/
}

/* line 242, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* line 256, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

/* line 269, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

/* line 287, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

/* line 292, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

/* line 297, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 319, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/berlin/slick.scss */
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/* line 1, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
.contenedor_idiomas {
  background: blue;
}

/* line 5, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas {
  float: right;
  padding: 0 15px 10px 10px;
  margin: -7px 0px -5px 10px;
  background-color: #fff;
}

/* line 12, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas li {
  float: left;
  list-style: none outside none;
  margin: 0 0 0 5px;
  padding: 11px 0 0 0;
  width: 20px;
}

/* line 20, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas li a {
  display: block;
  width: 20px;
  height: 14px;
  outline: 1px solid #555;
  margin: 0;
}

/* line 28, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .es {
  background: url("/assets/idiomas.png") 0 0 no-repeat;
}

/* line 32, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .en, ul.idiomas .uk {
  background: url("/assets/idiomas.png") -20px 0;
}

/* line 36, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ru {
  background: url("/assets/idiomas.png") -40px 0;
}

/* line 40, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .sv {
  background: url("/assets/idiomas.png") -60px 0;
}

/* line 44, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .no {
  background: url("/assets/idiomas.png") -80px 0;
}

/* line 48, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .de {
  background: url("/assets/idiomas.png") -100px 0;
}

/* line 52, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .fr {
  background: url("/assets/idiomas.png") -120px 0;
}

/* line 56, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ne {
  background: url("/assets/idiomas.png") -140px 0;
}

/* line 60, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ch {
  background: url("/assets/idiomas.png") -160px 0;
}

/* line 64, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .fi {
  background: url("/assets/idiomas.png") -180px 0;
}

/* line 68, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .eu {
  background: url("/assets/idiomas.png") -200px 0;
}

/* line 72, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .pt {
  background: url("/assets/idiomas.png") -220px 0;
}

/* line 76, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ar {
  background: url("/assets/idiomas.png") -240px 0;
  /*  background: url('/images/arab_league_mini.png');
  background: url('/images/egypt_flag.png');
*/
}

/* line 83, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .ca {
  background: url("/assets/idiomas.png") -260px 0;
}

/* line 87, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .br {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/br.svg") no-repeat;
  background-size: cover;
}

/* line 92, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .cl {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/cl.svg") no-repeat;
  background-size: cover;
}

/* line 98, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .mx {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/mx.svg") no-repeat;
  background-size: cover;
}

/* line 103, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .us {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/us.svg") no-repeat;
  background-size: cover;
}

/* line 108, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .vi {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/vn.svg") no-repeat;
  background-size: cover;
}

/* line 113, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .tr {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/tr.svg") no-repeat;
  background-size: cover;
}

/* line 118, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .hi {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/hi.svg") no-repeat;
  background-size: cover;
}

/* line 123, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas .it {
  background: url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/flags/4x3/it.svg") no-repeat;
  background-size: cover;
}

/* line 128, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/default/language_switcher.scss */
ul.idiomas li.selected,
ul.idiomas li:hover {
  background: url("/assets/simple-nav-arrow.png") no-repeat top center;
}

/*@import "shared/header_footer";*/
/* line 1, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa {
  font-size: 1.5em;
}

/*Change icons circle size and color here*/
/* line 5, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* line 20, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons.icon-circle .fa {
  border-radius: 50%;
}

/* line 23, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons.icon-rounded .fa {
  border-radius: 5px;
}

/* line 26, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons.icon-flat .fa {
  border-radius: 0;
}

/* line 30, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa:hover, .social-icons .fa:active {
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
}

/* line 36, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 43, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

/* line 51, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-adn {
  background-color: #504e54;
}

/* line 52, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-apple {
  background-color: #aeb5c5;
}

/* line 53, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-android {
  background-color: #A5C63B;
}

/* line 54, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-bitbucket, .social-icons .fa-bitbucket-square {
  background-color: #003366;
}

/* line 55, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-bitcoin, .social-icons .fa-btc {
  background-color: #F7931A;
}

/* line 56, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-css3 {
  background-color: #1572B7;
}

/* line 57, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-dribbble {
  background-color: #F46899;
}

/* line 58, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-dropbox {
  background-color: #018BD3;
}

/* line 59, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-facebook, .social-icons .fa-facebook-square {
  background-color: #3C599F;
}

/* line 60, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-flickr {
  background-color: #FF0084;
}

/* line 61, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-foursquare {
  background-color: #0086BE;
}

/* line 62, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-github, .social-icons .fa-github-alt, .social-icons .fa-github-square {
  background-color: #070709;
}

/* line 63, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-google-plus, .social-icons .fa-google-plus-square {
  background-color: #CF3D2E;
}

/* line 64, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-html5 {
  background-color: #E54D26;
}

/* line 65, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-instagram {
  background-color: #A1755C;
}

/* line 66, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-linkedin, .social-icons .fa-linkedin-square {
  background-color: #0085AE;
}

/* line 67, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-linux {
  background-color: #FBC002;
  color: #333;
}

/* line 68, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-maxcdn {
  background-color: #F6AE1C;
}

/* line 69, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-pagelines {
  background-color: #241E20;
  color: #3984EA;
}

/* line 70, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-pinterest, .social-icons .fa-pinterest-square {
  background-color: #CC2127;
}

/* line 71, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-renren {
  background-color: #025DAC;
}

/* line 72, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-skype {
  background-color: #01AEF2;
}

/* line 73, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-stack-exchange {
  background-color: #245590;
}

/* line 74, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-stack-overflow {
  background-color: #FF7300;
}

/* line 75, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-trello {
  background-color: #265A7F;
}

/* line 76, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-tumblr, .social-icons .fa-tumblr-square {
  background-color: #314E6C;
}

/* line 77, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-twitter, .social-icons .fa-twitter-square {
  background-color: #32CCFE;
}

/* line 78, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-vimeo-square {
  background-color: #229ACC;
}

/* line 79, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-vk {
  background-color: #375474;
}

/* line 80, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-weibo {
  background-color: #D72B2B;
}

/* line 81, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-windows {
  background-color: #12B6F3;
}

/* line 82, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-xing, .social-icons .fa-xing-square {
  background-color: #00555C;
}

/* line 83, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/social.scss */
.social-icons .fa-youtube, .social-icons .fa-youtube-play, .social-icons .fa-youtube-square {
  background-color: #C52F30;
}

/*http://en.marnoto.com/2014/09/5-formas-de-personalizar-infowindow.html*/
/* line 2, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/gmap.scss */
.gm-style-iw {
  /*width: 250px !important;*/
  /*height: 300px;*/
  top: 1px !important;
  /*bottom: 0px !important;*/
  left: 0px !important;
  background-color: #fff;
}

/* line 11, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/gmap.scss */
#iw-container {
  margin-bottom: 0px;
}

/* line 15, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/gmap.scss */
#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}

/* line 26, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/gmap.scss */
#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 34, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/shared/gmap.scss */
.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 5px;
}

/*@import "shared/search_box";
@import "shared/shame";
*/
/*==================
  SLIDER SECTION
====================*/
/*
#aa-slider {
  float: left;
  display: inline;
  width: 100%;
}

#aa-slider .aa-slider-area {
  display: inline;
  float: left;
  width: 100%;
}*/
/* line 17, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider {
  width: 100%;
}

/* line 21, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .slick-arrow {
  height: 80px;
  width: 80px;
}

/* line 26, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .slick-prev,
.slick-slider .slick-next {
  background-color: transparent;
  /*border: 1px solid #fff;*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*.slick-slider .slick-prev {
  left: 20px;
}

.slick-slider .slick-next {
  right: 20px;
}*/
/* line 45, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before {
  font-family: "fontAwesome";
  font-size: 50px;
}

/* line 51, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single {
  width: 100%;
  position: relative;
}

/* line 56, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

/* line 62, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single .aa-top-slider-content {
  background-color: rgba(255, 255, 255, 0.8);
  left: 20%;
  padding: 30px;
  position: absolute;
  top: 40%;
  z-index: 999;
}

/* line 71, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single .aa-top-slider-content .aa-top-slider-catg {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #555;
  line-height: 25px;
}

/* line 81, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single .aa-top-slider-content .aa-top-slider-title {
  color: #555;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 5px;
  text-transform: uppercase;
}

/* line 89, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single .aa-top-slider-content .aa-top-slider-location {
  font-size: 14px;
}

/* line 93, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single .aa-top-slider-content .aa-top-slider-location i {
  margin-right: 5px;
}

/* line 97, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single .aa-top-slider-content .aa-top-slider-off {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #555;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}

/* line 106, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single .aa-top-slider-content .aa-top-slider-price {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -5px;
}

/* line 114, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single .aa-top-slider-content .aa-top-slider-btn {
  display: inline-block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  font-size: 15px;
}

/* line 125, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/slider.scss */
.slick-slider .aa-top-slider-single .aa-top-slider-content .aa-top-slider-btn span {
  margin-left: 3px;
}

/* listings */
/* line 3, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
.listing-card .card-image {
  max-height: 250px;
}

/* line 7, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background: #fcfcfc;
  border-top: 1px solid #e0eded;
}

/* line 16, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info li {
  display: table-cell;
  padding: 10px 15px;
  vertical-align: middle;
  border-right: 1px solid #e0eded;
}

/* line 23, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info li:last-child {
  border: 0;
}

/* line 27, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info li i {
  font-size: 18px;
  margin-right: 8px;
  color: #333;
}

/* line 33, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info {
  display: table;
  width: 100%;
  border: 1px solid #e0eded;
}

/* line 39, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info li {
  padding: 10px 10px;
  font-size: 11px;
  text-align: center;
}

/* line 45, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info li i {
  display: block;
}

/* start ces ficha */
/* line 52, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
.wp-block.property.list .wp-block-content .content-title {
  color: #333;
}

/* line 56, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
.primary-image .ribbon {
  position: absolute;
  right: 15px;
}

/* line 61, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info {
  margin-top: 9px;
}

/* line 65, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info li {
  font-size: 14px;
  width: 25%;
}

/* line 70, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
ul.aux-info li i {
  display: inline;
}

/* line 74, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
.estate .thumbnail-images {
  margin-bottom: 0;
}

/* line 78, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
#form_solicitar_info textarea {
  min-height: 100px;
  width: 100%;
}

/* line 83, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
#extras_ficha {
  /*overflow: hidden;*/
  padding: 0px;
}

/* line 88, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
#extras_ficha li {
  float: left;
  width: 33%;
}

/* line 93, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
#extras_ficha li i {
  font-size: 18px;
}

/* line 97, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
#resp_enviar {
  float: left;
  width: 100%;
  margin: 15px 0 0 0;
}

/* end ces ficha */
@media (max-width: 767px) {
  /*for xs screens*/
  /* line 108, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
  ul.list-listings .listing-body .meta-info {
    max-width: 50%;
  }

  /* line 111, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
  .wp-block {
    margin-bottom: 15px !important;
  }

  /* line 114, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
  ul.aux-info {
    width: 100%;
    display: table;
  }

  /* line 118, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
  ul.aux-info li {
    padding: 10px;
    font-size: 11px;
    text-align: center;
  }

  /* line 123, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
  ul.aux-info li:last-child {
    border: 0;
  }

  /* line 126, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
  ul.aux-info li i {
    display: block;
    font-size: 18px;
    margin-right: 0;
    color: #333;
  }
}
/*services section*/
/* line 138, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
.service-panel {
  min-height: 400px;
}

/* line 142, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
.section .icon-service {
  color: #B2B2B2;
  font-size: 45px;
  border: 1px solid #B2B2B2;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  text-align: center;
  width: 110px;
  padding: 30px;
  margin: 13px 0;
}

/* landing parallax */
/* line 164, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

/* line 171, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  /* line 176, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  /* line 180, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 186, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/landing.scss */
  #index-banner .section {
    top: 0;
  }
}
/* line 1, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/general.scss */
.breadcrumb-container {
  margin-right: 20px;
}

/* line 5, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/general.scss */
.breadcrumb-nav {
  /*fit within boxed site container*/
  margin: 0px 1px 0px 1px;
  width: auto;
}

/* line 11, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic/general.scss */
.material-icons {
  /*below to prevent flash of unstyled content */
  max-width: 30px;
  overflow: hidden;
}

/*@import '../../src/core/stylesheets/variables.scss';*/
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* line 45, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
nav ul a,
nav .brand-logo {
  color: #444;
}

/* line 50, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
p {
  line-height: 2rem;
}

/* line 54, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
.button-collapse {
  color: #26a69a;
}

/*main container*/
/* line 60, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
.main-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  /* line 66, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
  .main-container {
    width: 95%;
  }
}
@media only screen and (min-width: 993px) {
  /* line 70, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
  .main-container {
    width: 70%;
  }
}
/* line 75, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
.icon-block {
  padding: 0 15px;
}

/* line 79, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
.icon-block .material-icons {
  font-size: inherit;
}

/* line 83, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
footer.page-footer {
  margin: 0;
}

/*keep footer down*/
/* line 92, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* line 98, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
main {
  flex: 1 0 auto;
}

/*pad container when disabled*/
/* line 103, /Users/etewiah/.rbenv/versions/2.3.3/lib/ruby/gems/2.3.0/bundler/gems/property_web_builder-7db262e15f19/app/assets/stylesheets/pwb/themes/vic.scss */
.container-off {
  padding: 0px 15px;
}
