<!DOCTYPE html>
<html>
  <head>
    <title>PwbForHeroku</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'mgmt' %>
    <%= javascript_pack_tag 'mgmt' %>
  </head>

  <body>
    <div id="mgmt-app"></div>
    <%= yield %>
  </body>
</html>
